

body{
  background-image: url("HomeImages/AlternateGeo.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  font-family: Helvetica, Sans-Serif;
}

h1{
  color:  #543642;
    font-size:175%;
}

h2{
  color: #375934;
  font-size:130%;
}

h3{
  color: #364639;
  font-size:105%;
}

h4{
  color: black;
  text-decoration:underline;
  font-size:100%
}


a:link{
  color: #714951;
}

a:visited, a:hover, a:active{
  color: #714951 /*#795F6C*/;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    border-width: 1px;
    border-top: 1px solid #714951;
}
