body {
  font-family: Helvetica, Sans-Serif;
  background-image: url("HomeImages/PapagoHoleInTheWallVERYOP.jpg");
  background-color: #E7E1E1;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  }

@media only screen and (max-width: 500px) {
      body {
        background:none;
        background-color: #E7E1E1;
       }
  }

h1{
  color:  #543642;
    font-size:175%;
}

h2{
  color: #375934;
  font-size:130%;
}

h3{
  color: #364639;
  font-size:105%;
}

h4{
  color: black;
  text-decoration:underline;
  font-size:100%
}


a:link{
  color: #843343;
}

a:visited, a:hover, a:active{
  color: #543642;
  text-decoration:underline;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    border-width: 1px;
    border-top: 1px solid #714951;
}

table {
  width: 100%;
}

table td{
  width: 33%;
  padding: 10px;
}

.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}

.indoorPlantsMondayTable {
  visibility: hidden;
}

.indoorPlantsWedFriTable {
  visibility: hidden;
}

.indoorWaterP{
  visibility: hidden;
}
